/* TSOS.css */

body {
  background: #909193 url(distrib/resources/img/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

table{
  border-collapse: collapse;
  background-color: white;
}

table, td, th{
  border: 2px solid black;
}

td, th{
  text-align: center;
  width: 50px;
}

#display {
  background-color: black;
  border: 2px groove rgb(0, 0, 0);
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#taHostLog{
  width: 700px;
  resize: none;
}

#taskBar{
  height: 75px;
  border: 2px dashed red;
  background-color: rgba(175, 175, 175, .55);
}

/*Fix positioning later*/
#status{
  position: relative;
  text-align: center;
  bottom: 67px;
}

#date, #time {
  position: relative;
  left: 5px;
}

/*Video element that plays when snap() is called*/
#video{
  position: fixed;
  width: 720px;
  height: 480px;
  display: none;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -360px;
  cursor: url("distrib/resources/img/cursor.cur"), auto;
}

/*Div element that dims when snap() is called*/
#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgb(0,0,0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: url("distrib/resources/img/cursor.cur"), auto;
}

/*Image element that appears when snap() is called*/
#logo{
  position: fixed;
  display: none;
  z-index: 4;
  top: 55%;
  left: 50%;
  margin-top: -320px;
  margin-left: -238px;
  cursor: url("distrib/resources/img/cursor.cur"), auto;
}

/*Progress element that loads when snap() is called*/
#progress{
  position: fixed;
  display: none;
  z-index: 4;
  top: 80%;
  left: 50%;
  margin-left: -275px;
  width: 550px;
  height: 25px;
  cursor: url("distrib/resources/img/cursor.cur"), auto;
}

/*BSOD image drawn to canvas when crash command is typed*/
#bsod{
  display: none;
}

/*Comprises both the label and the table*/
#MemoryDiv{
  float: right;
}

/*Just the memory table*/
#MemoryTable{
  height: 156px;
  border: 1px solid gray;
}
/*Table header width to give the text room*/
.PCBth{
  width: 70px;
}

/*Width of the table so all of the columns fit*/
#PCBTable{
  width: 685px;
}

/*For some reason the PCB table/div combo is not behaving the same way as the memory table/div combo, so this kind of brute-forces it to.
  I'd like to come back and fix this bc this is stupid.*/
/*11.12.19 TO DO: Remove overflow-y and only enable it when height exceeds max.*/
#PCBDiv{
  max-height: 156px;
  overflow-y: scroll;
  width: 702px;
}

#dog{
  display: none;
  z-index: 5;
  position: absolute;
  width: 55px;
  height: 45px;
  cursor: grab;
}

.spin{
  animation: spin 4s linear infinite;
}

.turnAround{
  animation: turnAround .02s;
  animation-fill-mode: forwards;
}

@keyframes spin{ 100% {-webkit-transform: rotate(-360deg);}}

@keyframes turnAround{ 100% {-webkit-transform: scaleX(-1);}}

#rainbow{
  z-index: 3;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: .4;
  display: none;
  cursor: grab;
}

#doghouse{
  z-index: 4;
  display: none;
  position: absolute;
}

#bone{
  display: none;
  cursor: grab;
  position: absolute;
  z-index: 4;
  width: 40px;
  height: 40px;
}

#HDDEverything{
  margin-top: 10px;
}

#HDDDisplay{
  height: 200px;
  width: 685px;
}

#notFormatted{
  display: flex;
  justify-content: space-evenly;
  background-image: radial-gradient(white, gray, black);
  width: 300px;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
}